* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2%;
    overflow: hidden;
    width: 70vh;
    margin: 15vh auto 0 auto;
    /*position: relative;*/
}


.preview {
    /*width: 400px;*/
    /*height: 600px;*/
    /*background-image: url("../images/image-product-desktop.jpg");*/
    float: left;
    margin-right: 50px;
}

.preview img {
    height: 62vh;
    width: 35vh;
}

.about {
    padding-right: 15px;
}

.category {
    color: hsl(158, 36%, 37%);
}


.description, .category, .cart-button, .struck-cost, .btn {
    font-family: 'Montserrat', sans-serif;
    color: rgb(142, 142, 152);
    font-weight: 500;
}

.category {
    text-transform: uppercase;
    margin: 30px auto 15px auto;
    letter-spacing: .3rem;
}

.heading-text, .cost {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.description {
    line-height: 2rem;
}

.footer {
    margin-top: 30px;
    margin-bottom: 25px;
}

.cost {
    color: hsl(158, 36%, 37%);
    display: inline;
}

.struck-cost {;
    display: inline;
    text-decoration: line-through;
}

.add-to-cart {
    margin-bottom: 30px;
}


.btn {
    /*-webkit-border-radius: 10;*/
    /*-moz-border-radius: 10;*/
    /*display: inline-block;*/
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    background: hsl(158, 36%, 37%);
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    text-align: center;
    border-width: 0;
}

.btn:hover {
    background: rgb(26, 64, 49);
    text-decoration: none;
}

.btn img {
    margin-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
